In [1]:
# Import the dependencies
import pandas as pd

In [2]:
# load csv file
EVdataDF = pd.read_csv('../Raw Data/combined_data3 (2).csv', low_memory=False)
EVdataDF.head()

,Unnamed: 0,Model Year,Mfr Name,Division,Carline,Verify Mfr Cd,Index (Model Type Index),Eng Displ,# Cyl,Transmission,...,Unnamed: 439,Unnamed: 440,Unnamed: 441,Unnamed: 442,Unnamed: 443,Unnamed: 444,Unnamed: 445,Unnamed: 446,Unnamed: 447,Unnamed: 448
0,0,2016.0,FCA US LLC,ALFA ROMEO,4C,CRX,124.0,1.8,4.0,Auto(AM6),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2016.0,aston martin,Aston Martin Lagonda Ltd,V12 Vantage S,ASX,8.0,6.0,12.0,Auto(AM7),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2016.0,aston martin,Aston Martin Lagonda Ltd,V8 Vantage,ASX,4.0,4.7,8.0,Auto(AM7),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2016.0,aston martin,Aston Martin Lagonda Ltd,V8 Vantage,ASX,1.0,4.7,8.0,Manual(M6),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2016.0,aston martin,Aston Martin Lagonda Ltd,V8 Vantage S,ASX,5.0,4.7,8.0,Auto(AM7),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# Get the list of all column names from headers
column_headers = list(EVdataDF.columns.values)
column_headers

['Unnamed: 0',
 'Model Year',
 'Mfr Name',
 'Division',
 'Carline',
 'Verify Mfr Cd',
 'Index (Model Type Index)',
 'Eng Displ',
 '# Cyl',
 'Transmission',
 'City FE (Guide) - Conventional Fuel',
 'Hwy FE (Guide) - Conventional Fuel',
 'Comb FE (Guide) - Conventional Fuel',
 'City Unadj FE - Conventional Fuel',
 'Hwy Unadj FE - Conventional Fuel',
 'Comb Unadj FE - Conventional Fuel',
 'City Unrd Adj FE - Conventional Fuel',
 'Hwy Unrd Adj FE - Conventional Fuel',
 'Comb Unrd Adj FE - Conventional Fuel',
 'Guzzler? ',
 'Air Aspir Method',
 'Air Aspiration Method Desc',
 'Trans',
 'Trans Desc',
 'Trans, Other',
 '# Gears',
 'Lockup Torque Converter',
 'Trans Creeper Gear',
 'Drive Sys',
 'Drive Desc',
 'Max Ethanol % - Gasoline',
 'Max Biodiesel %',
 'Range1 - Model Type Driving Range - Conventional Fuel',
 'Fuel Usage  - Conventional Fuel',
 'Fuel Usage Desc - Conventional Fuel',
 'Fuel Unit - Conventional Fuel',
 'Fuel Unit Desc - Conventional Fuel',
 'Gas Guzzler Exempt (Where Truck = 1975 NHTSA truck definition)',
 'Gas Guzzler Exempt Desc (Where Truck = 1975 NHTSA truck definition)',
 '2Dr Pass Vol',
 '2Dr Lugg Vol',
 '4Dr Pass Vol',
 '4Dr Lugg Vol',
 'Htchbk Pass Vol',
 'Htchbk Lugg Vol',
 'Annual Fuel1 Cost - Conventional Fuel',
 'EPA Calculated Annual Fuel Cost - Conventional Fuel -----  Annual fuel cost error. Please revise Verify. ',
 'City2 FE (Guide) - Alternative Fuel',
 'Hwy2 Fuel FE (Guide) - Alternative Fuel',
 'Comb2 Fuel FE (Guide) - Alternative Fuel',
 'City2 Unadj FE - Alternative Fuel',
 'Hwy2 Unadj FE - Alternative Fuel',
 'Comb2 Unadj FE - Alternative Fuel',
 'City2 Unrd Adj FE - Alternative Fuel',
 'Hwy2 Unrd Adj FE - Alternative Fuel',
 'Cmb2 Unrd Adj FE - Alternative Fuel',
 ' Range2 - Alt Fuel Model Typ Driving Range - Alternative Fuel',
 ' Fuel2 Usage - Alternative Fuel',
 ' Fuel2 Usage Desc - Alternative Fuel',
 'Fuel2 Unit - Alternative Fuel',
 'Fuel2 Unit Desc - Alternative Fuel',
 'Fuel2 Annual Fuel Cost - Alternative Fuel',
 'City CO2 Rounded Adjusted - Fuel2',
 'Hwy CO2 Rounded Adjusted - Fuel2',
 'Comb CO2 Rounded Adjusted - Fuel2',
 'Fuel2 EPA Calculated Annual Fuel Cost - Alternative Fuel',
 'Descriptor - Model Type (40 Char or less)',
 'Intake Valves Per Cyl',
 'Exhaust Valves Per Cyl',
 'Carline Class',
 'Carline Class Desc',
 'Car/Truck Category - Cash for Clunkers Bill.',
 'Calc Approach Desc',
 'Release Date',
 'EPA FE Label Dataset ID',
 'Unnamed: 74',
 'Unique Label?',
 'Label Recalc?',
 'Relabel',
 'Relabel Desc',
 'Suppressed?',
 'Police/Emerg?',
 'Comments - Mfr Eng Cnfg',
 'Cyl Deact?',
 'Cyl Deact Desc',
 'Var Valve Timing?',
 'Var Valve Timing Desc',
 'Var Valve Lift?',
 'Var Valve Lift Desc',
 'Energy Storage Device Desc',
 'Energy Storage Device,If Other',
 '# Batteries',
 'Battery Type Desc',
 'Battery Type, If Other',
 'Total Voltage for Battery Pack(s)',
 'Batt Energy Capacity (Amp-hrs)',
 'Batt Specific Energy (Watt-hr/kg)',
 'Batt Charger Type Desc',
 'Comments',
 '# Capacitors',
 'Regen Braking Type Desc',
 'Regen Braking Type, If Other',
 'Regen Braking Wheels Source (Front, Rear, Both)',
 'Driver Cntrl Regen Braking?',
 'Fuel Cell Desc',
 'Usable H2 Fill Capacity (kg)',
 'Fuel Cell Onboard H2 Capacity (kg)',
 'HEV-EV Comments',
 '# Drive Motor Gen',
 'Motor Gen Type Desc',
 'Motor Gen Type, If Other',
 'Rated Motor Gen Power (kW)',
 'Fuel Metering Type 1 Desc',
 'Fuel Metering Type 2 Desc',
 'Fuel Metering Sys Cd',
 'Fuel Metering Sys Desc',
 'Fuel Cell Vehicle (Y or N)',
 'Off Board Charge Capable (Y or N)',
 'Camless Valvetrain (Y or N)',
 'Oil Viscosity',
 'Stop/Start System (Engine Management System) Code',
 'Stop/Start System (Engine Management System)  Description',
 'Model Type Desc (MFR entered)',
 'Charge Depleting Calc Appr Code (PHEV only)',
 'Charge Depleting Calc Appr Desc (PHEV only)',
 'Charge Sustaining Calc Appr Code (PHEV only)',
 'Charge Sustaining Calc Appr Desc (PHEV only)',
 'EPA Calculated Annual Fuel Cost',
 'EPA Calculated Gas Guzzler MPG',
 'MFR Calculated Gas Guzzler MPG ',
 'EPA Calculated Gas Guzzler Indicator (Y or N)',
 'Unnamed: 130',
 'FE Rating (1-10 rating on Label)',
 'GHG Rating (1-10 rating on Label)',
 'GHG 1-10 rating on Ethanol (EPA Determined)',
 '#1 Smog Rating Test Group',
 '#1 Mfr Smog Rating (Mfr Smog 1-10 Rating on Label for Test Group 1)',
 '#1 EPA Smog Rating (EPA Smog 1-10 Rating on Label for Test Group 1)',
 'SmartWay1 (EPA-derived SmartWay rating for Test Group 1)',
 '#2 Smog Rating Test Group',
 '#2 Mfr Smog Rating (Mfr Smog 1-10 Rating on Label for Test Group 2)',
 '#2 EPA Smog Rating (EPA Smog 1-10 Rating on Label for Test Group 2)',
 'SmartWay2 (EPA-derived SmartWay rating for Test Group 2)',
 '#3 Smog Rating Test Group',
 '#3 Mfr Smog Rating (Mfr Smog 1-10 Rating on Label for Test Group 3)',
 '#3 EPA Smog Rating (EPA Smog 1-10 Rating on Label for Test Group 3)',
 'SmartWay3 (EPA-derived SmartWay rating for Test Group 3)',
 '#4 Smog Rating Test Group',
 '#4 Mfr Smog Rating (Mfr Smog 1-10 Rating on Label for Test Group 4)',
 '#4 EPA Smog Rating (EPA Smog 1-10 Rating on Label for Test Group 4)',
 'SmartWay4 (EPA-derived SmartWay rating for Test Group 4)',
 '$ You Save over 5 years (amount saved in fuel costs over 5 years - on label) ',
 '$ You Spend over 5 years (increased amount spent in fuel costs over 5 years - on label) ',
 'City CO2 Rounded Adjusted',
 'Hwy CO2 Rounded Adjusted',
 'Comb CO2 Rounded Adjusted (as shown on FE Label)',
 'CO2-PHEV Composite Rounded Adjusted Combined CO2',
 '240V Charge Time at 240 volts (hours)',
 '120V Charge time at 120 Volts (hours)',
 'PHEV Total Driving Range (rounded to nearest 10 miles)DISTANCE',
 'City PHEV Composite MPGe',
 'Hwy PHEV Composite MPGe',
 'Comb PHEV Composite MPGe',
 'Unnamed: 162',
 'Unnamed: 163',
 'Unnamed: 164',
 'Unnamed: 165',
 'Unnamed: 166',
 'Unnamed: 167',
 'Unnamed: 168',
 'Unnamed: 169',
 'Unnamed: 170',
 'Unnamed: 171',
 'Unnamed: 172',
 'Unnamed: 173',
 'Unnamed: 174',
 'Unnamed: 175',
 'Unnamed: 176',
 'Unnamed: 177',
 'Unnamed: 178',
 'Unnamed: 179',
 'Unnamed: 180',
 'Unnamed: 181',
 'Unnamed: 182',
 'Unnamed: 183',
 'Unnamed: 184',
 'Unnamed: 185',
 'Unnamed: 186',
 'Unnamed: 187',
 'Unnamed: 188',
 'Unnamed: 189',
 'Unnamed: 190',
 'Unnamed: 191',
 'Unnamed: 192',
 'Unnamed: 193',
 'Unnamed: 194',
 'Unnamed: 195',
 'Unnamed: 196',
 'Unnamed: 197',
 'Unnamed: 198',
 'Unnamed: 199',
 'Unnamed: 200',
 'Unnamed: 201',
 'Unnamed: 202',
 'Unnamed: 203',
 'Unnamed: 204',
 'Unnamed: 205',
 'Unnamed: 206',
 'Unnamed: 207',
 'Unnamed: 208',
 'Unnamed: 209',
 'Unnamed: 210',
 'Unnamed: 211',
 'Unnamed: 212',
 'Unnamed: 213',
 'Unnamed: 214',
 'Unnamed: 215',
 'Unnamed: 216',
 'Unnamed: 217',
 'Unnamed: 218',
 'Unnamed: 219',
 'Unnamed: 220',
 'Unnamed: 221',
 'Unnamed: 222',
 'Unnamed: 223',
 'Unnamed: 224',
 'Unnamed: 225',
 'Unnamed: 226',
 'Unnamed: 227',
 'Unnamed: 228',
 'Unnamed: 229',
 'Unnamed: 230',
 'Unnamed: 231',
 'Unnamed: 232',
 'Unnamed: 233',
 'Unnamed: 234',
 'Unnamed: 235',
 'Unnamed: 236',
 'Unnamed: 237',
 'Unnamed: 238',
 'Unnamed: 239',
 'Unnamed: 240',
 'Unnamed: 241',
 'Unnamed: 242',
 'Unnamed: 243',
 'Unnamed: 244',
 'Unnamed: 245',
 'Unnamed: 246',
 'Unnamed: 247',
 'Unnamed: 248',
 'Unnamed: 249',
 'Unnamed: 250',
 'Unnamed: 251',
 'Unnamed: 252',
 'Unnamed: 253',
 'Unnamed: 254',
 'Unnamed: 255',
 'Unnamed: 256',
 'Unnamed: 257',
 'Unnamed: 258',
 'Unnamed: 259',
 'Unnamed: 260',
 'Unnamed: 261',
 'Unnamed: 262',
 'Unnamed: 263',
 'Unnamed: 264',
 'Unnamed: 265',
 'Unnamed: 266',
 'Unnamed: 267',
 'Unnamed: 268',
 'Unnamed: 269',
 'Unnamed: 270',
 'Unnamed: 271',
 'Unnamed: 272',
 'Unnamed: 273',
 'Unnamed: 274',
 'Unnamed: 275',
 'Unnamed: 276',
 'Unnamed: 277',
 'Unnamed: 278',
 'Unnamed: 279',
 'Unnamed: 280',
 'Unnamed: 281',
 'Unnamed: 282',
 'Unnamed: 283',
 'Unnamed: 284',
 'Unnamed: 285',
 'Unnamed: 286',
 'Unnamed: 287',
 'Unnamed: 288',
 'Unnamed: 289',
 'Unnamed: 290',
 'Unnamed: 291',
 'Unnamed: 292',
 'Unnamed: 293',
 'Unnamed: 294',
 'Unnamed: 295',
 'Unnamed: 296',
 'Unnamed: 297',
 'Unnamed: 298',
 'Unnamed: 299',
 'Unnamed: 300',
 'Unnamed: 301',
 'Unnamed: 302',
 'Unnamed: 303',
 'Unnamed: 304',
 'Unnamed: 305',
 'Unnamed: 306',
 'Unnamed: 307',
 'Unnamed: 308',
 'Unnamed: 309',
 'Unnamed: 310',
 'Unnamed: 311',
 'Unnamed: 312',
 'Unnamed: 313',
 'Unnamed: 314',
 'Unnamed: 315',
 'Unnamed: 316',
 'Unnamed: 317',
 'Unnamed: 318',
 'Unnamed: 319',
 'Unnamed: 320',
 'Unnamed: 321',
 'Unnamed: 322',
 'Unnamed: 323',
 'Unnamed: 324',
 'Unnamed: 325',
 'Unnamed: 326',
 'Unnamed: 327',
 'Unnamed: 328',
 'Unnamed: 329',
 'Unnamed: 330',
 'Unnamed: 331',
 'Unnamed: 332',
 'Unnamed: 333',
 'Unnamed: 334',
 'Unnamed: 335',
 'Unnamed: 336',
 'Unnamed: 337',
 'Unnamed: 338',
 'Unnamed: 339',
 'Unnamed: 340',
 'Unnamed: 341',
 'Unnamed: 342',
 'Unnamed: 343',
 'Unnamed: 344',
 'Unnamed: 345',
 'Unnamed: 346',
 'Unnamed: 347',
 'Unnamed: 348',
 'Unnamed: 349',
 'Unnamed: 350',
 'Unnamed: 351',
 'Unnamed: 352',
 'Unnamed: 353',
 'Unnamed: 354',
 'Unnamed: 355',
 'Unnamed: 356',
 'Unnamed: 357',
 'Unnamed: 358',
 'Unnamed: 359',
 'Unnamed: 360',
 'Unnamed: 361',
 'Unnamed: 362',
 'Unnamed: 363',
 'Unnamed: 364',
 'Unnamed: 365',
 'Unnamed: 366',
 'Unnamed: 367',
 'Unnamed: 368',
 'Unnamed: 369',
 'Unnamed: 370',
 'Unnamed: 371',
 'Unnamed: 372',
 'Unnamed: 373',
 'Unnamed: 374',
 'Unnamed: 375',
 'Unnamed: 376',
 'Unnamed: 377',
 'Unnamed: 378',
 'Unnamed: 379',
 'Unnamed: 380',
 'Unnamed: 381',
 'Unnamed: 382',
 'Unnamed: 383',
 'Unnamed: 384',
 'Unnamed: 385',
 'Unnamed: 386',
 'Unnamed: 387',
 'Unnamed: 388',
 'Unnamed: 389',
 'Unnamed: 390',
 'Unnamed: 391',
 'Unnamed: 392',
 'Unnamed: 393',
 'Unnamed: 394',
 'Unnamed: 395',
 'Unnamed: 396',
 'Unnamed: 397',
 'Unnamed: 398',
 'Unnamed: 399',
 'Unnamed: 400',
 'Unnamed: 401',
 'Unnamed: 402',
 'Unnamed: 403',
 'Unnamed: 404',
 'Unnamed: 405',
 'Unnamed: 406',
 'Unnamed: 407',
 'Unnamed: 408',
 'Unnamed: 409',
 'Unnamed: 410',
 'Unnamed: 411',
 'Unnamed: 412',
 'Unnamed: 413',
 'Unnamed: 414',
 'Unnamed: 415',
 'Unnamed: 416',
 'Unnamed: 417',
 'Unnamed: 418',
 'Unnamed: 419',
 'Unnamed: 420',
 'Unnamed: 421',
 'Unnamed: 422',
 'Unnamed: 423',
 'Unnamed: 424',
 'Unnamed: 425',
 'Unnamed: 426',
 'Unnamed: 427',
 'Unnamed: 428',
 'Unnamed: 429',
 'Unnamed: 430',
 'Unnamed: 431',
 'Unnamed: 432',
 'Unnamed: 433',
 'Unnamed: 434',
 'Unnamed: 435',
 'Unnamed: 436',
 'Unnamed: 437',
 'Unnamed: 438',
 'Unnamed: 439',
 'Unnamed: 440',
 'Unnamed: 441',
 'Unnamed: 442',
 'Unnamed: 443',
 'Unnamed: 444',
 'Unnamed: 445',
 'Unnamed: 446',
 'Unnamed: 447',
 'Unnamed: 448']

In [4]:
EVdataDF = EVdataDF[["Model Year","Carline Class Desc","Comb Unrd Adj FE - Conventional Fuel","Comb CO2 Rounded Adjusted (as shown on FE Label)"]]
EVdataDF

,Model Year,Carline Class Desc,Comb Unrd Adj FE - Conventional Fuel,Comb CO2 Rounded Adjusted (as shown on FE Label)
0,2016.0,Two Seaters,27.9406,317.0
1,2016.0,Two Seaters,14.2321,628.0
2,2016.0,Two Seaters,16.0340,552.0
3,2016.0,Two Seaters,15.1973,582.0
4,2016.0,Two Seaters,16.0340,552.0
...,...,...,...,...
8550,2022.0,Standard SUV 4WD,34.9824,254.0
8551,2022.0,Standard SUV 4WD,35.0276,253.0
8552,2022.0,Standard SUV 4WD,14.3622,618.0
8553,2022.0,Standard SUV 4WD,23.3185,380.0
8554,2022.0,Standard SUV 4WD,21.7785,405.0

In [5]:
# Check unique value of vehicle class
Type = EVdataDF["Carline Class Desc"].unique()
Type

array(['Two Seaters', 'Minicompact Cars', 'Subcompact Cars',
       'Compact Cars', 'Midsize Cars', 'Large Cars',
       'Small Station Wagons', 'Midsize Station Wagons', 'Small SUV 2WD',
       'Small Pick-up Trucks 2WD', 'Small Pick-up Trucks 4WD',
       'Standard Pick-up Trucks 2WD', 'Standard Pick-up Trucks 4WD',
       'Vans, Passenger Type', 'Special Purpose Vehicle 2WD',
       'Special Purpose Vehicle 4WD',
       'Special Purpose Vehicle cab chassis',
       'Special Purpose Vehicle, minivan 2WD',
       'Special Purpose Vehicle, minivan 4WD', 'Small SUV 4WD',
       'Standard SUV 2WD', 'Standard SUV 4WD', nan], dtype=object)

In [6]:
# Rename elements 
EVdataDF['Carline Class Desc'].replace({'Two Seaters':'TWO-SEATER', 'Minicompact Cars':'COMPACT', 'Subcompact Cars':'COMPACT', 'Compact Cars':'COMPACT', 'Midsize Cars':'MID-SIZE', 'Large Cars':'FULL-FIZE', 'Small Station Wagons': 'SUV', 'Midsize Station Wagons':'SUV','Small SUV 2WD':'SUV', 'Small Pick-up Trucks 2WD':'TRUCK', 'Small Pick-up Trucks 4WD':'TRUCK','Standard Pick-up Trucks 2WD':'TRUCK','Standard Pick-up Trucks 4WD':'TRUCK','Vans, Passenger Type':'VAN', 'Special Purpose Vehicle 2WD':'SPECIAL PURPOSE VEHICLE','Special Purpose Vehicle 4WD':'SPECIAL PURPOSE VEHICLE','Special Purpose Vehicle cab chassis':'SPECIAL PURPOSE VEHICLE','Special Purpose Vehicle, minivan 2WD':'SPECIAL PURPOSE VEHICLE','Special Purpose Vehicle, minivan 4WD':'SPECIAL PURPOSE VEHICLE','Small SUV 4WD':'SPECIAL PURPOSE VEHICLE','Standard SUV 2WD':'SPECIAL PURPOSE VEHICLE','Standard SUV 4WD':'SPECIAL PURPOSE VEHICLE'}, inplace=True)
EVdataDF

,Model Year,Carline Class Desc,Comb Unrd Adj FE - Conventional Fuel,Comb CO2 Rounded Adjusted (as shown on FE Label)
0,2016.0,TWO-SEATER,27.9406,317.0
1,2016.0,TWO-SEATER,14.2321,628.0
2,2016.0,TWO-SEATER,16.0340,552.0
3,2016.0,TWO-SEATER,15.1973,582.0
4,2016.0,TWO-SEATER,16.0340,552.0
...,...,...,...,...
8550,2022.0,SPECIAL PURPOSE VEHICLE,34.9824,254.0
8551,2022.0,SPECIAL PURPOSE VEHICLE,35.0276,253.0
8552,2022.0,SPECIAL PURPOSE VEHICLE,14.3622,618.0
8553,2022.0,SPECIAL PURPOSE VEHICLE,23.3185,380.0
8554,2022.0,SPECIAL PURPOSE VEHICLE,21.7785,405.0

In [7]:
Type = EVdataDF["Carline Class Desc"].unique()
Type

array(['TWO-SEATER', 'COMPACT', 'MID-SIZE', 'FULL-FIZE', 'SUV', 'TRUCK',
       'VAN', 'SPECIAL PURPOSE VEHICLE', nan], dtype=object)

In [8]:
import numpy as np

In [9]:
EVdataDF.replace('nan', np.nan).fillna('')

,Model Year,Carline Class Desc,Comb Unrd Adj FE - Conventional Fuel,Comb CO2 Rounded Adjusted (as shown on FE Label)
0,2016.0,TWO-SEATER,27.9406,317.0
1,2016.0,TWO-SEATER,14.2321,628.0
2,2016.0,TWO-SEATER,16.034,552.0
3,2016.0,TWO-SEATER,15.1973,582.0
4,2016.0,TWO-SEATER,16.034,552.0
...,...,...,...,...
8550,2022.0,SPECIAL PURPOSE VEHICLE,34.9824,254.0
8551,2022.0,SPECIAL PURPOSE VEHICLE,35.0276,253.0
8552,2022.0,SPECIAL PURPOSE VEHICLE,14.3622,618.0
8553,2022.0,SPECIAL PURPOSE VEHICLE,23.3185,380.0
8554,2022.0,SPECIAL PURPOSE VEHICLE,21.7785,405.0

In [10]:
Type = EVdataDF["Carline Class Desc"].unique()
Type

array(['TWO-SEATER', 'COMPACT', 'MID-SIZE', 'FULL-FIZE', 'SUV', 'TRUCK',
       'VAN', 'SPECIAL PURPOSE VEHICLE', nan], dtype=object)

In [11]:
EVdataDF = EVdataDF.rename(columns={"Carline Class Desc": "Type",
                               "Comb Unrd Adj FE - Conventional Fuel": "Fuel Consumption Comb (mpg)",
                                   "Comb CO2 Rounded Adjusted (as shown on FE Label)":"CO2 Emissions(g/m)"})
EVdataDF.head()

   Model Year        Type  Fuel Consumption Comb (mpg)  CO2 Emissions(g/m)
0      2016.0  TWO-SEATER                      27.9406               317.0
1      2016.0  TWO-SEATER                      14.2321               628.0
2      2016.0  TWO-SEATER                      16.0340               552.0
3      2016.0  TWO-SEATER                      15.1973               582.0
4      2016.0  TWO-SEATER                      16.0340               552.0

In [12]:
# Add new column with default value 
# using DataFrame.assign() function
EVdataDF['Car Technology'] = 'EV'
EVdataDF

,Model Year,Type,Fuel Consumption Comb (mpg),CO2 Emissions(g/m),Car Technology
0,2016.0,TWO-SEATER,27.9406,317.0,EV
1,2016.0,TWO-SEATER,14.2321,628.0,EV
2,2016.0,TWO-SEATER,16.0340,552.0,EV
3,2016.0,TWO-SEATER,15.1973,582.0,EV
4,2016.0,TWO-SEATER,16.0340,552.0,EV
...,...,...,...,...,...
8550,2022.0,SPECIAL PURPOSE VEHICLE,34.9824,254.0,EV
8551,2022.0,SPECIAL PURPOSE VEHICLE,35.0276,253.0,EV
8552,2022.0,SPECIAL PURPOSE VEHICLE,14.3622,618.0,EV
8553,2022.0,SPECIAL PURPOSE VEHICLE,23.3185,380.0,EV
8554,2022.0,SPECIAL PURPOSE VEHICLE,21.7785,405.0,EV

In [13]:
# Export file as a CSV, without the Pandas index, but with the header
EVdataDF.to_csv("../EVData.csv", index=False, header=True)